<information-panel class="theme-information" title-text="Information">
  <span class="small text-muted">
    <p>
      <i class="fa fa-flask orange-icon" aria-hidden="true" style="margin-right: 2px"></i>
      深色和高对比度主题是实验性的。某些UI组件可能无法正确显示。
    </p>
  </span>
</information-panel>
<rd-widget>
  <rd-widget-header icon="fa-palette" title-text="Change user theme"></rd-widget-header>
  <rd-widget-body>
    <form class="theme-panel">
      <!-- Theme Selector-->
      <box-selector radio-name="'theme'" value="$ctrl.state.userTheme" options="$ctrl.state.availableThemes" on-change="($ctrl.setTheme)"></box-selector>
      <button ng-click="$ctrl.updateTheme()" class="btn btn-primary btn-sm">更新主题</button>
      <!-- !Theme -->
    </form>
  </rd-widget-body>
</rd-widget>
