<div class="form-group" ng-if="$ctrl.pullRateLimits">
  <div class="col-sm-12 small">
    <div ng-if="$ctrl.pullRateLimits.remaining > 0" class="text-muted">
      <i class="fa fa-exclamation-circle blue-icon" aria-hidden="true" style="margin-right: 2px"></i>
      <span ng-if="$ctrl.isAuthenticated">
        你目前正在使用一个免费帐户从DockerHub中提取镜像，拉取限制为200次/6小时。剩余拉取次数：
        <span style="font-weight: bold">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
      </span>
      <span ng-if="!$ctrl.isAuthenticated">
        <span ng-if="$ctrl.isAdmin">
          您目前正在使用匿名帐户从DockerHub中提取镜像，拉取限制为100次/6小时。您可以在下面配置DockerHub身份验证
          <a ui-sref="portainer.registries">注册中心视图</a>. 剩余拉取次数:
          <span style="font-weight: bold">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
        </span>
        <span ng-if="!$ctrl.isAdmin">
          您目前正在使用匿名帐户从DockerHub中提取镜像，拉取限制为100次/6小时。请与管理员联系以进行配置 DockerHub认证。剩余拉取次数：
          <span style="font-weight: bold">{{ $ctrl.pullRateLimits.remaining }}/{{ $ctrl.pullRateLimits.limit }}</span>
        </span>
      </span>
    </div>
    <div ng-if="$ctrl.pullRateLimits.remaining <= 0" class="text-warning">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <span ng-if="$ctrl.isAuthenticated">
        你使用的免费账号拉取DockerHub中的镜像的次数已经用完。
        <span ng-transclude="rateLimitExceeded">你将无法从DockerHub注册中心拉取镜像.</span>
      </span>
      <span ng-if="!$ctrl.isAuthenticated">
        你作为匿名用户拉取DockerHub中的镜像次数已经用完.
        <span ng-transclude="rateLimitExceeded">你将无法从DockerHub注册中心拉取镜像.</span>
      </span>
    </div>
  </div>
</div>
